.wrapper {
	width: 93%;
	text-align: center;
	padding: 30px;
	margin: auto;
	background-color: #F7F7F8;
	border: 2px solid grey;
	font-family: "Raleway", sans-serif;
	position: relative;
}

.heading {
	padding: 35px;
	border: 2px solid grey;
	height: 60px;
	background-color: rgb(118, 116, 116);
	position: relative;
}

.heading h2{
	float: left;
	margin-top: -2%;
	color: rgb(136, 184, 176);
	position: absolute;
}

#logo {
	float: left;
	width: 15%;
	margin-top: 20px;
	margin-right: 300px;
	position: absolute;
}

#details {
	float: left;
	margin-left: 58%;
	margin-top: 1%;
	text-align: left;
	font-size: 70%;
	float: left;
	line-height: 14px;
	color: white;
	position: absolute;
/*	min-width: 10%;
	max-width: 70%;*/
}

.page-body {
	margin-top: 100px;
}

.pure-table {
	width: 30%;
	border: 1px solid black;
	float: left;
	height: 60px;
	font-size: 13px;
}

.pure-table-horizontal{
	margin-left: 2%;
	margin-right: 2%;
}

.pure-table-horizontal th {
	background-color: #f2f2f2;
	width: 10%;
}

.pure-table-horizontal tr:first-child td:first-child {
	font-weight: bold;
	font-size: 15px;
	padding: 15px 15px 15px 15px;
	background-color: #cbcbcb;
	border: 1px solid black;
	color: rgb(90, 180, 165);
	text-align: center;
}

.pure-table-horizontal input[type="text"]{
	height: 25px;
	margin-top: 10px;
	width: 80%;
}

.pure-table-horizontal input[type="text"]:hover {
	background-color: rgb(230, 244, 242);
}

.pure-table-horizontal tr:nth-child(3):hover > .down-type { background-color: yellow; } 

.down-type {
	margin: 0px 15px 10px 10px;
}

.pure-table-horizontal input[type="radio"]{
	margin-bottom: 5px;
}

.pure-table-horizontal input[type="checkbox"]{
	margin-left: 10px;
}

.pure-table-horizontal tr:last-child td:last-child {
	text-align: center;
	padding: 5px;
	background-color: rgb(234, 234, 234);
}


#graph-title{
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 2%;
	color: rgb(90, 180, 165);
	background-color: grey;
    width: 50%;
    margin-left: 40%;
    padding: 14px;
    background-color: #cbcbcb;
    border: 1px solid black;
    margin-top: -40px;
    margin-bottom: 25px;
}

canvas{
    width: 100% !important;
    max-width: 607px;
    height: auto !important;
    position: absolute;
    left: 40%;
}

#x-axis{
	margin-top: 280px;
	position: absolute;
	margin-left: 60%;
	color: rgb(118, 116, 116);
	font-size: 12px
}

#y-axis{
	transform: rotate(270deg);
	float: left;
	margin-top: 150px;
	position: absolute;
	margin-left: 32%;
	color: rgb(118, 116, 116);
	font-size: 12px;
	z-index: 1;
}

#progression-table{
	margin-top: 480px;
}

#prog-table-title {
	position: absolute;
	font-weight: bold;
	margin-top: 5%;
	text-align: center;
	font-size: 15px;
	margin-left: 33%;
	color: rgb(90, 180, 165);
	background-color: #cbcbcb;
    border: 1px solid black;
    padding: 14px;
}

#prog-table{
	width: 90%;
	margin: 10% 2% 5% 2%;
}

#prog-table th{
	border: 1px solid black;
}

.footer {
	clear: both;
}

#hover-form {
	color: rgb(118, 116, 116);
	position: absolute;
	width: 250px;
	height: 200px;
	padding: 7px;
	background-color: #FFFFFF;
	opacity: 1.0;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin-left: 30%;
	margin-top: -10px;
	border: 1px solid rgb(118, 116, 116);
}

#hover-form:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 11px 21px 11px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -21px;
	top: 28px;
}

#hover-form:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 11px 21px 11px 0;
	border-color: transparent black;
	display: block;
	width: 0;
	z-index: 0;
	left: -22px;
	top: 28px;
}

#hover-graph {
	color: rgb(118, 116, 116);
	position: absolute;
	width: 200px;
	height: 180px;
	padding: 7px;
	background: #FFFFFF;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin-left: 80%;
	margin-top: -80px;
	border: 1px solid rgb(118, 116, 116);
}

#hover-graph:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 11px 21px 11px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -21px;
	top: 28px;
}

#hover-graph:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 11px 21px 11px 0;
	border-color: transparent black;
	display: block;
	width: 0;
	z-index: 0;
	left: -22px;
	top: 28px;
}

#hover-prog {
	color: rgb(118, 116, 116);
	position: absolute;
	width: 300px;
	height: 140px;
	padding: 7px;
	background: #FFFFFF;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	margin-left: 55%;
	margin-top: 35px;
	border: 1px solid rgb(118, 116, 116);
	/*visibility: hidden*/
}

#hover-prog:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 11px 21px 11px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -21px;
	top: 28px;
}

#hover-prog:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 11px 21px 11px 0;
	border-color: transparent black;
	display: block;
	width: 0;
	z-index: 0;
	left: -22px;
	top: 28px;
}