.wrapper {
	width: 90%;
	text-align: center;
	padding: 30px;
	margin: auto;
	background-color: #F7F7F8;
}


.heading {
	padding: 20px;
	border: 2px solid grey;

}

.page-body {
	margin-top: 100px;
}


.pure-table {
	width: 30%;
	border: 1px solid black;
	float: left;
	height: 50px;
	font-size: 13px;
}

.pure-table-horizontal{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: -15px;
}

.pure-table-horizontal input[type="number"]{
	height: 25px;
}


.pure-table-horizontal tr:first-child td:first-child {
	font-weight: bold;
	font-size: 15px;
	padding: 15px;
	background-color: #cbcbcb;
	border: 1px solid black;
}

.pure-table-horizontal th {
	background-color: #f2f2f2;
}

.pure-table-horizontal tr:last-child td:last-child {
	text-align: center;
}

.pure-table-horizontal tr:last-child td:last-child input{
	margin-left: 20px;
}

#progression-table{
	margin-top: 480px;
}

#prog-table-title {
	position: absolute;
	font-weight: bold;
	margin-top: -5px;
	text-align: center;
	font-size: 15px;
	margin-left: 30%;
}

#prog-table{
	width: 80%;
	margin: 3% 5% 5% 5%;
}

#prog-table th{
	border: 1px solid black;
}

canvas{
    width: 100% !important;
    max-width: 700px;
    height: auto !important;
    position: absolute;
    left: 40%;
}

#graph-title{
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 2%;
}

#y-axis{
	transform: rotate(270deg);
	float: left;
	margin-top: 150px;
	position: absolute;
	margin-left: 30%;
}

#x-axis{
	margin-top: 310px;
	position: absolute;
	margin-left: 60%;
}

.footer {
	clear: both;
}