<html ng-app="mortgageApp" ng-controller="MortgageCtrl">
<head><title>Mortgage Calculator</title>
<link rel="stylesheet" type="text/css" href="mortgage.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script src="mortgageCtrl.js.coffee"></script>

</head>


<body>
<div class="wrapper" >
<div class="heading">
<h1> Mortgage Calculator </h1>
<h2> Calculate your Mortgage now! </h2>
</div>

<div class="page-body">
<form action="#" class="mortgage-form" ng-submit="calculateMortgage()" >
<table class="pure-table pure-table-horizontal" >
			<tr>
				<td colspan="2"> Enter your mortgage information </td>
			</tr>
            <tr> 
                <th>Type of Mortgage</th>
                <td>30-Year Fix <input type="checkbox" ng-model="formData.mortgage_type" /> </td>
            </tr>
            <tr>
                <th>Number of Payments</th>
                <td> <ng-model="formData.number_of_payments" ng-value="formData.number_of_payments" ng-bind="formData.number_of_payments" /> </td>
            </tr>
            <tr>
                <th>Total Price of House</th>
                <td> <input type="number" ng-model="formData.total_price" /> </td>
            </tr>

            <tr>
                <th>Down Payment</th>
                <td> <input type="number" ng-model="formData.downpayment" /> 
                     <br> Amount <input type="radio" ng-model="formData.down_type" ng-value="1" /> 
                     Percentage <input type="radio" ng-model="formData.down_type" ng-value="2" />
                </td>
            </tr>
            <tr>
                <th>Annual Interest Rate</th>
                <td> <input type="number" ng-model="formData.annual_interest_rate" /> </td>
            </tr>
            <tr>
                <th>Loan Amount</th>

                <td> $<ng-model="formData.loan_amount" ng-value="formData.loan_amount" ng-bind="formData.loan_amount" /> </td>
            </tr>
            <tr>
            	<td colspan="2">
                    <input type="button" ng-click="reset()" value="Reset"/>
					<input type="submit" value="Submit"/>
                    <input type="button" ng-click="calculateMortgageProgression()" value="Calculate Progression"/>
				</td>
            </tr>          

</table>

</form>



<table id="prog-table"  >
<thead>
    <tr>
        <th>Payment Number</th>
        <th>Monthly Payment</th>
        <th>Remaining Balance</th>
        <th>Monthly Interest</th>
        <th>Monthly Principal</th>
        
        
    </tr>
</thead>

<tbody>
    <tr >
        <td>num</td>
        <td>{{ total_monthly_payment | currency }}</td>
        <td>{{ bal[0][0] | currency}}</td>
        <td>{{ bal[1][0] | currency}}</td>
        <td>{{ bal[2][0] | currency}}</td>
    </tr>

    <tr >
        <td>num</td>
        <td>{{ total_monthly_payment | currency }}</td>
        <td>{{ bal[0][1] | currency}}</td>
        <td>{{ bal[1][1] | currency}}</td>
        <td>{{ bal[2][1] | currency}}</td>
    </tr>

    <tr >
        <td>num</td>
        <td>{{ total_monthly_payment | currency }}</td>
        <td>{{ bal[0][2] | currency}}</td>
        <td>{{ bal[1][2] | currency}}</td>
        <td>{{ bal[2][2] | currency}}</td>
    </tr>    

    <tr >
        <td>num</td>
        <td>{{ total_monthly_payment | currency }}</td>
        <td>{{ bal[1][4] | currency}}</td>
        <td>{{ bal[2][4] | currency}}</td>
        <td>{{ bal[3][4] | currency}}</td>
    </tr>      

</tbody>

</table>



<!-- <div id="pie-chart">

PIE CHART DISPLAYED HERE



</div> -->

</div>


<!-- <div class="footer">
</div> -->

</div>
</body>




</html>