.wrapper {
	width: 90%;
	text-align: center;
	padding: 30px;
	margin: auto;
	background-color: #F7F7F8;
}


.heading {
	padding: 20px;
	border: 2px solid grey;

}

.page-body {
	margin-top: 100px;
}


.pure-table {
	width: 30%;
	border: 1px solid black;
	float: left;
	height: 50px;
	font-size: 13px;
}

.pure-table-horizontal{
	margin-left: 2%;
}


.pure-table-horizontal tr:first-child td:first-child {
	font-weight: bold;
	font-size: 14px;
	padding: 15px;
	background-color: #cbcbcb;
	border: 1px solid black;
}

.pure-table-horizontal th {
	background-color: #f2f2f2;
}

.pure-table-horizontal tr:last-child td:last-child {
	text-align: center;
}

.pure-table-horizontal tr:last-child td:last-child input{
	margin-left: 20px;
	margin-bottom: 10px;
}

#prog-table{
	width: 80%;
	margin: 5%;
	text-align: center;
}

#prog-table th{
	border: 1px solid black;
}

#area-chart {
	float: left;
	width: 60%;
	margin-left: 7%;
}

.footer {
	clear: both;
}